body{
    background-image:url("Bl.jpg");
    background-size: cover;
    background-position: center;
    }
    
div{
    height:400px;
    width:250px;
    background-color:#FF1493BB;
    padding-right:10px;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10;
    margin-left:20px;
}

h3{
    color:white;
    }
   
   label{
       color:white;
       
   }
   h5{
       text-align:right;
   }
   
  ::placeholder{
      color: black;
  }